/* - Laptop and Desktop */
.page {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px; /* font-size: 16px; 1em = 16px Cambia  || 1rem = 16px constante*/
}

.header {
  height: 4.5em;
  width: 100%;
  max-width: 75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*
.main {
  height: 100%;
  max-width: 75em;
  border: 1px solid red;
}

.main__info {
  border: 1px solid red;
  width: 35em;
}

.main__daily {
  border: 1px solid red;
  width: 35em;
}

.phrase {
  color: var(--white);
  font-size: 10em;
  font-family: var(--font-family-title);
}
*/

/* - Tablet */
@media only screen and (max-width: 768px) {
  .page {
    font-size: 14px;
  }
}

/* - Mobile */
@media only screen and (max-width: 630px) {
  .page {
    font-size: 12px;
  }

  .header {
    justify-content: start;
  }
}
