/* - Laptop and Desktop */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  background-color: var(--black); 
}

.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  max-width: 1200px;
  padding-top: 3em;

  display: flex;
  flex-wrap: wrap;
}

.main__info {
  width: 55%;
  flex: 1 1 55%;
  box-sizing: border-box;
  padding-left: 1em;
  display: grid;
  grid-template-areas:
            "phrase phrase"
            "date description";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto; 
  justify-items: start;
  align-items: start;
}

.main__daily {
  width: 45%;
  flex: 1 1 45%;
  display: flex;
  background-image: url(./../../assets/imgs/logo.png);
  background-position: center center;
  background-size: cover;

  min-height: 300px;
  min-width: 300px;
}

/* Laptop */
/* @media only screen and (max-width: 1100px) {}*/

/* - Tablet */
@media only screen and (max-width: 950px) {
  .page {
    font-size: 14px;
  }

  .main__info {
    width: 100%;
    flex: 1 1 100%;
    padding-left: 1em;
    grid-template-areas:
              "phrase date"
              "phrase description";
    grid-template-columns: max-content auto;
  }

  .main__daily {
    width: 100%;
    flex: 1 1 100%;
  }  
}

/* - Mobile */
@media only screen and (max-width: 630px) {
  .page {
    font-size: 12px;
  }

  .header {
    justify-content: start;
  }
}