.info__phrase {
    color: var(--gray);
    grid-area: phrase;
  }
  
  .phrase__letter {
    font-size: 11em;
    font-family: var(--font-family-title);
  }
  
  .phrase__letter--blur {
    filter: blur(11px);
  }
  
  .info__date {
    overflow: hidden;
    grid-area: date;
    padding: 0.5em;
  }

  .date__date {
    margin: 0.3em 0;
    color: var(--gray);
    font-family: var(--font-family-title);
    font-size: var(--font-size-caption);
  }
  
  .date__date--today {
    color: var(--white);
    font-size: var(--font-size-title);
    position: relative;
    display: inline-block;
  }
  
  .date__date--today::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 45%;
    width: 5em;
    height: 2px;
    background: var(--red);
  }

  .info_desciption {
    color: var(--gray);
    grid-area: description;
    font-family: var(--font-family-global);
    max-width: 25em;
    padding-top: 0.5em;
  }
  
/* Laptop */
  @media only screen and (max-width: 1100px) {
    .phrase__letter {
      font-size: 9em;
    }
  }

  /* - Tablet */
@media only screen and (max-width: 950px) {
    
    .info__date {
        padding-left: 2em;
    }

    .date__date--today::after {
      left: 0;
    }

    .info_desciption {
        padding: 0 2em;
      }
  }
  
  /* - Mobile */
@media only screen and (max-width: 630px) {
    .phrase__letter {
      font-size: 7em;
    }
  
    .main__info {
      grid-template-areas:
                "phrase phrase"
                "date description";
      grid-template-columns: 1fr 4fr;
    }

    .info__date {
        padding-left: 0.5em;
    }

    .info_desciption {
        padding: 0 0.5em;
    }
  }