.header__menu {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.header__option {
  position: relative;
  padding: 0.7vw;
  border-radius: 5px;
  margin: 0 0.7vw;
}

.header__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #888888;
}

.header__option--active {
  background: var(--brown);
  animation-name: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
}

.header__link--active  {
  color: var(--black);
}

/** Mobile */
@media only screen and (max-width: 480px) {
  .header__nav {
      position: fixed;
      z-index: 3;
  }
      
  .header__menu {
    background: var(--black);
    position: fixed;
    top: 4rem;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }

  .header__option {
    margin: 10px 0;
  }

  .header__menu--open {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
/*66 lines*/