 /* - Desktop */
.header__nav {
  margin-right: 2em;
  display: flex;
}

.header__menu {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  color: var(--gray);
  font-size: var(--font-size-caption);
  font-family: var(--font-family-global);
  position: relative;
  display: inline-block;

}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: var(--gray);
  transition: .2s;
}

.header__link--active {
  color: var(--brown);
}

.header__link--active::after {
  height: 4px;
  background: var(--brown);
  transition: .2s;
}

/** Mobile */
@media only screen and (max-width: 630px) {
  .header__nav {
      position: fixed;
      z-index: 3;
  }
      
  .header__menu {
    background: var(--black);
    position: fixed;
    top: 4rem;
    left: 0;
    height: 50%;
    width: 100%;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }

  .header__menu--open {
    opacity: 1;
    pointer-events: all;
  }

  .header__link {
    margin: 10px;
    padding: 5px;
    font-size: var(--font-size-body);
  }

}